.narrow-profile {
  width: 100%;
  height: auto;
  background-color: rgba($color: ($bittersweet), $alpha: 0.75);

  &__content {
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 77px;
  }

  &__text-content {
    position: relative;
    top: 141px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    & h2 {
      color: $ivory;
    }

    & h3 {
      color: $ivory;
      opacity: .75;
    }
  }
}